html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {  
  color: rgb(34, 34, 34);  
}

h2 {
  font-size: 1.55em;
  text-shadow: rgba(33, 33, 93, 0.5) 2px 1px 9px;
}

h6 {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}

.card {
  position: relative;
  display: block;
  width: 400px;
  height: auto;
  margin: 5px;
  border-top: 6px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.card-img {
  width: 100%;
  height: 230px;  
  background-color: #0078f1;
  background: #1d1d1d;
  /* background-image: url("https://dl.dropboxusercontent.com/u/15495052/bg.jpg"); */
  background-blend-mode: screen;
  background-size: cover;
  border-bottom: 1px solid #000;
  filter: grayscale(100%);  
  transition: .5s ease;
  z-index: 0;
}

.card:hover .card-img
{
  filter: grayscale(0%);
}

.card-deets {
  position: relative;
  color: #fff;
  z-index: 9999;
  margin-top: -95px;
}

.card-info {
  margin: 10px 20px;
}

.card-type,
.card-date {
  float: left;
  margin: 0px 20px;
}

.card-date {
  float: right;
  text-align: center;
  background-color: #41c4be;
  padding-top: 0 !important;
}

.pill
{
  padding: 0px 8px 3px 8px;
  border-radius: 10em;
}

.card-title {
  clear: both;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
.card-title h1 {
  letter-spacing: 0.1em;
}

.card-time {
  margin-top: 0;
  margin-bottom: 10px;
  float: right;
}
.card-time :after {
  margin-left: 2px;
  content: "h";
  opacity: 0.35;
}

.card-description {
  clear: both;
  padding-top: 20px;
  margin: 0 20px 20px 20px;
  font-size: 0.9em;
  text-align: justify;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.card-data {
  width: 100%;
  margin-bottom: 20px;
}
.card-data div {
  padding: 5px;
  margin-bottom: 20px;
  float: left;
  width: 33.333339%;
  border-right: 1px solid rgba(0, 0, 25, 0.274);
  text-align: center;
}
.card-data div h6 {
  opacity: 0.7;
  font-weight: 600;
}
.card-data div p {
  letter-spacing: 0.02em;
}
.card-data div:nth-child(3) {
  border-right: none;
}

.card-btn {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  transition: border-color .3s ease-in-out;
}
.card-btn:hover {
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.35);
}
.card-btn:hover p {
  opacity: 1;
}
.card-btn p {
  margin-top: 14px;
  color: inherit;
  font-weight: 200;
  letter-spacing: 0.2em;
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
}

.card-btn.active {
  background-color: #0f7552;
}

.card-btn-ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.cont-courses
{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-gap: 25px;
    width: 95%;
    text-align: -webkit-center;    
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar {
  color: #000;
}

.card-type > h6
{
  background: #000;
}