@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #f1f1f185;
}

.grid > div 
{
    float: left;
}

.grid 
{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, auto);
    width: 100%;
}

.grid > div 
{
    background-color: #ffffff;
    box-shadow: 0px 1px 8px 0px #cecece;
    color: rgb(46, 46, 46);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.m-0
{
    margin: 0;
    margin-bottom: 3px;
}

.m-1
{
    margin: 5px;
}

.responsive-img
{
    width: 50px;
}

.grid > div > .right
{

}

.grid > div > .right > a
{
    color: cornflowerblue;
    text-decoration: none;
    font-weight: 600;
}

.grid > div > .left
{
    margin-right: 5px;
}

.container
{
    position: absolute;
    left: 0;
    z-index:-1;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 80%;
    bottom: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    margin-bottom: 50px;
    height: 50px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navbar>.brand-space {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-top: 2%;
}

.navbar>.links-space {
    -ms-flex: 0 0 33.3333334%;
    flex: 0 0 33.3333334%;
    max-width: 33.3333334%;
    padding-top: 2%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    width: 100%;
    text-align: center;
}
.navbar>.links-space>a
{
    color:#000;
    text-decoration: none;
}