body {
    background: #cecece3d;
}
.container {
    width: 45%;
    position: absolute;
    left: 25%;
    border: 1px solid #cecece;
    border-radius: 2em;
    padding: 10px;
    box-shadow: 0px 0px 8px 8px #ababab;
    background: #fff;
}
h2 {
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.col-1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.tablely {
    table-layout: auto;
    width: 100%;
}

.tablely > tr > td > .fg {
    text-align: center;
}


#btnsb {
    width: 40%;
    height: 60px;
    border-radius: 50px;
    box-shadow: none;
    border: 5px #cecece;
    background-color: #747d7e;
    color: white;
    margin-left: 30%;
    margin-top: 0px;
}

.fg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(15px, auto);
    
    border: 1px solid #cecece;
    border-radius: 3em;
    height: auto;
    padding: 20px;
}

#elcolor {
    grid-template-columns: repeat(2, 1fr) !important;
}

.fg > #chkel, .fg > #rad{
    margin-left: 15px;
    margin-top: 5px;
    letter-spacing: 1px;
}

.fg > input, .fg > select, .fg > textarea {
    border-radius: 5px;
    box-shadow: none;
    border: 0.5px solid #cecece;

    width: 75%;
    margin-left: 12%;
    margin-top: 10px;
}

.fg > input, .fg > select#slc1 {
    height: auto;
}

.fg > select {
    overflow-y: hidden;
}

.fg > #chkel > .fg-chk > input{
    background-color: #000;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 25px;
    height: 25px;
    border-radius: 15px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 15px;
}
.nav-bar>.links-items>a {
    color: #000;
    text-decoration: none;
}