.container {
    width: 75%;
    position: absolute;
    left: 12%;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navbar > .brand-space {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-top: 2%;
}

.navbar > .links-space {
    -ms-flex: 0 0 33.3333334%;
    flex: 0 0 33.3333334%;
    max-width: 33.3333334%;
    padding-top: 2%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    width: 100%;
    text-align: center;
}

.navbar > .links-space > a.link-item {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
}

.header > .main-title {
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
}

.main-container {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.user-info {
    -ms-flex: 0 0 20.9999%;
    flex: 0 0 20.9999%;
    max-width: 20.9999%;
    
    text-align: center;
    margin-right: 15px;

    border: 1px solid #cecece;
    border-radius: 3em;
    padding: 10px;
    max-height: 270px;
}

.user-info > .img-cont {
    border: 1px solid #000;
    border-radius: 10em;

    width: 60%;
    height: 8em;
    margin-left: 43px;

    background-image: url('https://picsum.photos/200/200');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-info > .user-name {
    font-weight: lighter;
    font-size: 25px;
}

.user-info > .user-descrip {
    width: 100%;
    margin-top: 0px;
}

.user-info > .user-mail {
    font-size: 20px;
}

.user-info > .mail-unread {
    font-size: 13px;
}

.user-info > .total-mail {
    font-size: 13px;
}

.no-margin-y {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mails-cont {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.mails-cont > .divider {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #cecece;

}

.mails-cont > .mail-item {
    width: 100%;
}

.mail-item > .from-date {
    font-size: 12px;
    border: 1px solid #cecece;
    border-radius: 4em;
    width: 80px;
    display: inline;
    float: right;
    text-align: center;
    background-color: #cecece;
}

.mail-item > .user-from {
    display: inline;
}

.mail-item > .from-content {
    margin-bottom: 0px;
}

.footer {
    width: 100%;
    max-height: 100px;
    padding: 20px;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer > .fimg {
    max-height: 200px;
    border-radius: 3em;
    margin-right: 20px;

    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

.footer > .creator-data {
    border: 1px solid #cecece;
    border-radius: 2em;
    padding: 10px;
    margin-right: 20px;

    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.creator-data > p {
    text-align: center;
    font-size: 20px;
}

.footer > .something-else {
    border: 1px solid #cecece;
    border-radius: 2em;
    padding: 10px;

    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.footer > .something-else > p {
    font-size: 20px;
    text-align: justify;
}

.btn-fixed {
    position: fixed;
    bottom: 23px;
    right: 23px;
    border: 1px solid #cecece;
    background: #cecece;
    padding: 10px;
    font-size: 30px;
    color: #ababab;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 1px 8px 0px #cecece; 
}

.page-container {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-top: 20px;
}

.page-container > .champ-info{
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.page-container > .champ-skills-cont {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.page-container > .champ-info > .champ-bi {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.page-container > .champ-info > .champ-bi > .champ-img {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    
    border: 1px solid #000;
    border-radius: 10em;

    height: 8em;
    margin-right: 23px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-container > .champ-info > .champ-bi > .champ {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.page-container > .champ-info > .champ-bi > .champ > .champ-name{
    font-size: 30px;
    font-weight: lighter;
}

.page-container  .champ-info > .champ-bi > .champ > .champ-tittle, .page-container  .champ-info > .champ-bi > .champ > .champ-descrip {
    font-weight: lighter;
    font-size: 20px;
    padding-top: 5px;
}

.text-justify {
    text-align: justify;
}

.page-container > .champ-skills-cont > .champ-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;

    margin-top: 10px;
    text-align: center;
}

.page-container > .champ-skills-cont > .champ-skills > .skill {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

.img-style {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 4em;

    border-radius: 50px;
}

.skills-h {
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 35px;
}

.page-container > .champ-skills-cont > .champ-skills > .skill > .skill-img {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;

    margin-right: 10px;
}

.page-container > .champ-skills-cont > .champ-skills > .skill > .skill-name {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

    /* padding-top: 10px; */
    font-size: 20px;
}

.navbar>.links-space>a {
    color: #000;
    text-decoration: none;
}