.container {
    width: 75%;
    position: absolute;
    left: 12%;
}

.nav-bar {
    height: 50px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav-bar > .brand-space {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-top: 2%;
}

.nav-bar > .links-items {
    -ms-flex: 0 0 33.3333334%;
    flex: 0 0 33.3333334%;
    max-width: 33.3333334%;
    padding-top: 2%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
    width: 100%;
    text-align: center;
}

.header {
    width: 100%;
    height: 100px;
}

.header > h2 {
    text-align: center;
    font-size:30px;
    font-weight: lighter;
    margin-top: 5%;
}

.mid-items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.mid-items > .card {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.mid-items > .card > .card-img {    
    border-radius: 50%;
    left: 50%;
    position: relative;
    width: 200px;
    background-image: url(../../src/backImg.png);
    height: 200px;
    background-size: cover;
    background-position: center;
    transform: translateX(-50%);
}

.mid-items > .card > .card-tt {
    font-size: 26px;
    font-weight: lighter;
    margin-bottom: 0px;
}

.mid-items > .card > .card-text {
    font-size: 13px;
    margin-top: 5px;
    padding: 20px;
    text-align: justify;
}

.content-space {
    padding: 10px;
    position: absolute;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.article {
    width: 30%;
    position: absolute;
    right: 10px;
}

.article > p.inner-text {
    padding: 0;
}

.article > .inner-text {
    padding: 20px;
    text-align: justify;
}

.content-space > .card-text {
    font-size: 13px;
    margin-top: 5px;
    padding: 20px;
    text-align: justify;

    border: 0.25px solid #cecece;
}

.footer {
    margin-top: 35em;
    width: 100%;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;    
}

.footer > .fitem {
    -ms-flex: 0 0 33.3333334%;
    flex: 0 0 33.3333334%;
    max-width: 33.3333334%;
    padding-top: 2%;
}

.footer > .fitem > p {
    text-align: center;
}
.nav-bar>.links-items>a {
    color: #000;
    text-decoration: none;
}