.container {
    position: absolute;
    width: 75%;
    left: 12%;
    right: 12%;
}
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.navbar > .brand-space {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-top: 2%;
}

.navbar > .links-content {
    -ms-flex: 0 0 33.3333334%;
    flex: 0 0 33.3333334%;
    max-width: 33.3333334%;
    padding-top: 2%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    width: 100%;
    text-align: center;
}

.header {
    width: 100%;
    height: 80px;
}

.header > h2 {
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    padding-top: 3%;
}

.mid-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 0px;

    height: 80px;
}

.mid-items > .mid-item {
    padding-top: 40% !important;
    text-align: center;
}

.carrousel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
}

.carrousel > .car-item {
    text-align: center;
    padding-left: 30px;
}

.rounded-text-content {
    width: 100%;
    height: 300px;
}

.rounded-text {
    margin-top: 30px;
    width: 30%;
    position: absolute;
    height: auto;
    left: 35%;
}

.rounded-text > p {
    width: auto;
    height: auto;
    border:1.5px dashed #cecece;
    border-radius: 140px;
    padding: 30px 30px 30px 30px;
    text-align: center;
}

.footer {
    width: 100%;
    height: 80px;
    bottom: 0px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.brand-img {
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
    /* padding-top: 2%; */
    text-align: center;
}

.creator-data {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 2%;
}

.creator-data > p {
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

.something-else {
    -ms-flex: 0 0 33.33333334%;
    flex: 0 0 33.33333334%;
    max-width: 33.33333334%;
    padding-top: 2%;
}

.something-else > blockquote {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
}

.navbar>.links-space>a {
    color: #000;
    text-decoration: none;
}