.container {
    width: 75%;
    position: absolute;
    left: 12%;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navbar > .brand-space {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-top: 2%;
}

.navbar > .links-space {
    -ms-flex: 0 0 33.3333334%;
    flex: 0 0 33.3333334%;
    max-width: 33.3333334%;
    padding-top: 2%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
    width: 100%;
    text-align: center;
}

.navbar > .links-space > a.link-item {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
}

.header > h2 {
    font-weight: lighter;
    text-align: center;
    font-size: 37px;
}

.body-space {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.body-space > .news {
    -ms-flex: 0 0 58.333334%;
    flex: 0 0 58.333334%;
    max-width: 58.333334%;
    padding-top: 2%;
}

.body-space > .news > .main-title {
    font-weight: lighter;
    font-size: 25px;
}

.body-space > .news > .items-cont {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.body-space > .news > .items-cont > .item-img {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    height: 80px;
    margin-right: 20px;
    padding-top: 30px;
}

.body-space > .news > .items-cont > .item-img > img {
    width: 100%;
    height: auto;
}

.body-space > .news > .items-cont > .item-data {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.body-space > .news > .items-cont > .item-data > .item-tt {
    font-weight: lighter;
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.body-space > .news > .items-cont > .item-data > .item-descrip {
    margin-top: 0px;
}

.body-space > .cards-cont {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-top: 9%;
}

.body-space > .cards-cont > .card {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    border-radius: 10px;
    border: 1px solid #cecece;
    padding: 10px;
}

.body-space > .cards-cont > .card > .basic-inf {
    -ms-flex: 0 0 83.333334%;
    flex: 0 0 83.333334%;
    max-width: 83.333334%;
}

.body-space > .cards-cont > .card > .basic-inf > .summ-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.body-space > .cards-cont > .card > .summ-img {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.body-space > .cards-cont > .card > .btns {
    /* display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    width: 100%;
    text-align: center;
}

.body-space > .cards-cont > .card > .btns > .fbtn {
    /* -ms-flex: 0 0 49.99999%;
    flex: 0 0 49.99999%;
    max-width: 49.99999%; */

    width: 40%;
    margin-right: 5px;
    border: 1px solid #0dcf07;
    color: #0dcf07;
}

.body-space > .cards-cont > .card > .btns > .sbtn {
    /* -ms-flex: 0 0 49.99999%;
    flex: 0 0 49.99999%;
    max-width: 49.99999%; */

    width: 40%;
    margin-left: 5px;
    border: 1px solid #ff0000;
    color: #ff0000;
}

.sbtn, .fbtn {
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
}

.footer {
    width: 100%;
    bottom: 0;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer > .fsitem {
    -ms-flex: 0 0 8.333334%;
    flex: 0 0 8.333334%;
    max-width: 8.333334%;
    padding-top: 2%;
}

.footer > .fbitem {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-top: 2%;
    text-align: right;
}
.navbar>.links-space>a {
    color: #000;
    text-decoration: none;
}